h1 {
  font-family:helvetica;
  text-align: center;
  color: white ;
}
body {
  background-color: blue;
  color: white ;
  font-family: courier;
}
a {color: floralwhite;}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    justify-content: space-between;
}