header{
    text-align: center;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}

#home img {
    width: 40px; /* Set the width to the desired size */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Allow the image to shrink responsively within its container */
}
 #next img {
    width: 40px; /* Set the width to the desired size */
    height: auto; /* Maintain the aspect ratio */
    max
    -width: 100%; /* Allow the image to shrink responsively within its container */
}
#back img {
    width: 40px; /* Set the width to the desired size */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Allow the image to shrink responsively within its container */
}
}


h1 {
  font-family:helvetica;
  text-align: center;
  color: white ;
}
body {
  background-color: blue;
  color: white ;
  font-family: courier;
}
a {color: floralwhite;}

.container {
    display: flex;
    justify-content: space-between;
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  /* Spacing between images */
    justify-content: center;  /* Center images if there's extra space */
}

.image-gallery img {
    flex: 1 /* This ensures each image takes up an equal width */
    max-width: 100px;  /* You can adjust this to set a maximum width for each image */
    height: 100px;
    transition: transform 0.3s ease; /* For hover effect */
}

.hi img {
    flex: 1 /* This ensures each image takes up an equal width */
    max-width: 100px;  /* You can adjust this to set a maximum width for each image */
    height: 50px;
    transition: transform 0.3s ease; /* For hover effect */
}

.hi {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;  /* Spacing between images */
    justify-content: center;  /* Center images if there's extra space */
}
.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    justify-content: space-between;
}