@font-face {
    font-family: 'Bolas';
    src: url('Bolas-Regular.woff2') format('woff2'),
        url('Bolas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

