@font-face {
    font-family: 'Bolas';
    src: url('Bolas-Bold.woff2') format('woff2'),
        url('Bolas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

