html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop-video {
    width: 50%;
    height: 50%;
    margin-top: 5rem;
    padding: 0;
}


.tablet-video {
        width: 50%;
        height: 50%;
        margin-top: 8rem;
        padding: 0;
    }
    

    .mobile-video {
        width: 50%;
        height: 50%;
        margin-top: 10rem;
        padding: 0;
    }





@media screen and (max-width: 767px) {
    body{
        background-color: black;
    }
    .desktop-video, .tablet-video {
        display: none;
    }
    .mobile-video {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop-video, .mobile-video {
        display: none;
    }
    .tablet-video {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    body{
        background-color: black;
    }
    .tablet-video, .mobile-video {
        display: none;
    }
    .desktop-video {
        display: block;
    }
}
