h1 {
    font-family: courier;
    text-align: center;
}

b {color: black;
font-family: courier}



.flex-container {
   ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the images */
    align-items: center;     /* Vertically center the images (if they have different heights) */
    gap: 10px;  
            /* Optional: Add a gap between images */
    line-height: -100px;
    overflow: auto; /* Enable scrolling in both directions */
    width: 1300px;  /* Example width */
    height: 200px; /* Example height */
}

@media (max-width: 600px) {
    