h1 {
    font-family: courier;
    text-align: center;
}

h2 {font-family: courier;
    font-size: 20pt;
    text-align: center;}


body {
    margin: 30px;
    padding: ;
    background-color: red;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the images */
    align-items: center;     /* Vertically center the images (if they have different heights) */
    gap: 10px;               /* Optional: Add a gap between images */
    overflow: auto;          /* Enable scrolling in both directions */ 
    height: 450px;
    line-height: 1;          /* Resetting to normal value; -100px doesn't make sense for line-height */
}


@media screen (max-width: 1250px) {
    body {
        background-color: blue;
    }

}

@media (max-width: 768px) {
  
  .item {
    margin: 0px;
    width: 600; /* Set item width (25% for 4 columns) and subtract margin for both sides, total 30px */
    height: 200px;


  }

